<div class="container-fluid">
    <div class="row header">
        <div class="col-6">
           <h4 class="text-white" >Student Portal</h4>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-outline-info" (click)="openModel()" >Add Student</button>

        </div>
    </div>

    <div class="row"  *ngFor="let std of studentList">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                         <div class="col-6">
                           {{std.name| uppercase}}
                         </div>
                         <div class="col-6 text-end">
                            {{ std.mobile }}
                         </div>
                    </div>
                </div>
                <div class="card-body">
                    <p><b>Email :</b><span style="float:right;">{{ std.email }}</span></p>
                    <p><span><b>Gender :</b>{{ std.gender }}</span><span style="float:right;"><b>DOJ :</b>01-01-2024</span></p>
                    <p><b>Address :</b><span style="float:right;" >{{ std.address }}</span></p>
                    <p><b>Status :</b><span style="float:right;">{{ std.status ? 'Active' : 'Inactive' }}</span></p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <i class="btn fa fa-edit text-primary" (click)="onEditstudent(std)" style="font-size:25px;"></i>
                        </div>
                        <div class="col-6 text-end">
                            <i (click)="onDeleteStudent(std)" class="btn fa fa-trash text-danger" style="font-size:25px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title" *ngIf="studentObj.id === 0">Add Student</h4>
            <h4 class="modal-title" *ngIf="studentObj.id !== 0">Update Student</h4>
            <button type="button" class="btn-close" (click)="closeModel()"></button>
          </div>
          
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row" >
            <div class="col-12">
                <input type="text" class="form-control" [(ngModel)]="studentObj.name" placeholder="Name" >
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-6">
                <input type="text" class="form-control" [(ngModel)]="studentObj.email" placeholder="Email" >
            </div>
              <div class="col-6">
                <input type="text" class="form-control" [(ngModel)]="studentObj.mobile" placeholder="Mobile no" >
              </div>
          </div>

          <div class="row mt-3">
            <div class="col-6">
                <select class="form-control" [(ngModel)]="studentObj.gender">
                    <option value="">Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="col-6">
                <input type="date" class="form-control" [(ngModel)]="studentObj.doj" placeholder="=DOJ" >
            </div>
          </div>
          
          <div class="row mt-3">
            <div class="col-12">
                <textarea type="text" cols="5" rows="3" [(ngModel)]="studentObj.address" placeholder="Address" class="form-control" ></textarea>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
                <div class="form-group form-check">
                    <input type="checkbox" [(ngModel)]="studentObj.status" class="form-check-input">
                    <label>Active</label>
                </div>
            </div>
          </div>

        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>

            <button *ngIf="studentObj.id === 0" type="button" class="btn btn-primary" (click)="onSaveform()">Save</button>
            <button *ngIf="studentObj.id !== 0" type="button" class="btn btn-primary" (click)="onUpdateform()">Update</button>
            

        </div>
          
      </div>
    </div>
  </div>